<!DOCTYPE html>
<html>
<%-include("partials/head.ejs",{title:"Facebook Dev - Nói với em"})%>

<body class="sidebar-mini fixed">
  <div class="wrapper">
  <%- include("partials/header.ejs")%>
  <%- include("partials/nav.ejs",{name:"facebook"})%>
  
    <div class="content-wrapper">
      <div class="page-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Facebook Page</h1>
          <p>Start a beautiful journey here</p>
        </div>
        <div>
          <ul class="breadcrumb">
            <li><i class="fa fa-home fa-lg"></i></li>
            <li><a href="#"> Facebook Page</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <p id='t'></p>
              <button onclick="myFacebookLogin()">Login with Facebook</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <%- include("partials/scripts.ejs")%>
</body>

</html>